Source: libnvme
Section: libs
Priority: optional
Maintainer: Daniel Baumann <daniel.baumann@progress-linux.org>
Build-Depends:
 cmake,
 debhelper (>= 13.14~),
 debhelper-compat (= 13),
 dh-python,
 dpkg-dev (>= 1.22.5),
 libdbus-1-dev,
 libjson-c-dev,
 libkeyutils-dev,
 libssl-dev,
 meson (>= 1.0.0-1.1~),
 pkg-config,
 python3-dev,
 swig,
Rules-Requires-Root: no
Standards-Version: 4.7.0
Homepage: https://github.com/linux-nvme/libnvme
Vcs-Browser: https://git.progress-linux.org/users/daniel.baumann/debian/packages/libnvme
Vcs-Git: https://git.progress-linux.org/users/daniel.baumann/debian/packages/libnvme

Package: libnvme-dev
Section: libdevel
Architecture: any
Depends:
 libjson-c-dev,
 libkeyutils-dev,
 libnvme1t64 (= ${binary:Version}),
 libssl-dev,
 ${misc:Depends},
Description: NVMe management library (development)
 NVM Express (NVMe) is a interface specification for accessing non-volatile
 storage media, typically modern solid state drives (SSDs) through PCI Express
 (PCIe). libnvme provides library functions for accessing and managing NVMe
 devices.
 .
 This package contains the development files.

Package: libnvme1t64
Provides:
 ${t64:Provides},
Replaces:
 libnvme1,
Breaks:
 libnvme1 (<< ${source:Version}),
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 nvme-cli,
Description: NVMe management library (library)
 NVM Express (NVMe) is a interface specification for accessing non-volatile
 storage media, typically modern solid state drives (SSDs) through PCI Express
 (PCIe). libnvme provides library functions for accessing and managing NVMe
 devices.
 .
 This package contains the shared library.

Package: python3-libnvme
Section: python
Architecture: any
Depends:
 libnvme1t64 (= ${binary:Version}),
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Breaks:
 python3-nvme (<< 1.4~),
Replaces:
 python3-nvme,
Description: NVMe management library (Python)
 NVM Express (NVMe) is a interface specification for accessing non-volatile
 storage media, typically modern solid state drives (SSDs) through PCI Express
 (PCIe). libnvme provides library functions for accessing and managing NVMe
 devices.
 .
 This package contains the Python bindings.

Package: python3-nvme
Section: oldlibs
Priority: extra
Architecture: all
Depends:
 python3-libnvme,
 ${misc:Depends},
Description: NVMe management library (transitional package)
 Package to ease upgrading from older python3-nvme package to the new
 python3-libnvme package.
 .
 This package can be purged at anytime once the python3-libnvme package has been
 installed.
